<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:laf-config="http://ducc.jd.com/schema/laf-config"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://ducc.jd.com/schema/laf-config http://ducc.jd.com/schema/laf-config/laf-config.xsd
	    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="configListener" class="com.jd.laf.config.demo.common.listener.ConfigListener"/>

    <laf-config:manager id="configuratorManager" application="myapp_test">
        <laf-config:parameter key="autoListener" value="true"/>
        <laf-config:resource name="ucc_test" uri=
                "ucc://duccadmin:bd2f271319e349048853701b4dba2512@ducc.jd.local/v1/namespace/ducc_demo/config/config1/profiles/profile1?longPolling=60000&amp;necessary=true" />
<!--        <laf-config:resource name="ucc_test" uri=-->
<!--                "${ducc.uri}" />-->
        <laf-config:listener-field key="ducc_key4" field="duccConfig4" beanName="duccBean"/>
    </laf-config:manager>
</beans>