<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:laf-config="http://ducc.jd.com/schema/laf-config"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://ducc.jd.com/schema/laf-config
	    http://ducc.jd.com/schema/laf-config/laf-config.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.jd.laf"/>

    <laf-config:manager id="configuratorManager" application="myapp_test">
        <laf-config:parameter key="autoListener" value="false"/>
        <laf-config:resource name="ucc_test"
                             uri="ucc://duccadmin:bd2f271319e349048853701b4dba2512@ducc.jd.local/v1/namespace/ducc_demo/config/config1/profiles/log4j2?longPolling=15000"/>

        <!-- ducc管理端设置,key是：logger.level value是：ROOT=DEBUG ,配置后进行发布-->
        <laf-config:listener-script key="logger.level" script="script/log4j2.js"/>
    </laf-config:manager>
</beans>