<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:laf-config="http://ducc.jd.com/schema/laf-config"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://ducc.jd.com/schema/laf-config
	    http://ducc.jd.com/schema/laf-config/laf-config.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--<context:property-placeholder ignore-unresolvable="true" location="classpath:/local.properties,classpath:/application.properties"/>-->

    <!-- 使用spring占位符时，例如ducc.uri，需要使用property-placeholder，详见wiki:https://git.jd.com/laf/laf-config/wikis/问题自排查-->
    <context:property-placeholder location="classpath:/local.properties,classpath:/application.properties" ignore-unresolvable="true"/>

    <context:annotation-config/>

    <bean id="config" class="com.jd.laf.config.demo.spring.Config"/>
    <bean id="configListener" class="com.jd.laf.config.demo.spring.ConfigListener"/>
    <laf-config:manager id="configuratorManager" application="myapp_test">
        <laf-config:parameter key="autoListener" value="false"/>
        <laf-config:resource name="ucc_test" uri="${ducc.uri}"/>
        <!-- 多个resource 可以继续在此配置，而非多个laf-config:mamager -->
        <laf-config:listener-field key="k1" field="k1" beanName="config"/>
    </laf-config:manager>
</beans>