<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:laf-config="http://ducc.jd.com/schema/laf-config"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://ducc.jd.com/schema/laf-config http://ducc.jd.com/schema/laf-config/laf-config.xsd
	    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="duccBean" class="com.jd.laf.config.demo.common.beans.DuccBean" />

    <!-- 使用 spring 占位符时，例如 ducc.uri，需要使用 property-placeholder，
    详见 FAQ: https://cf.jd.com/display/JSF/FAQ (1. 配置未能实时获取，如何自行排查) -->
    <context:property-placeholder location="classpath:/*.properties" ignore-unresolvable="true"/>

    <context:annotation-config/>

    <import resource="classpath:spring-other.xml"/>
    <!--最佳实践：将 ducc 配置放在最后 -->
    <import resource="classpath:spring-ducc.xml"/>
</beans>